/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: crimson;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px; 
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #0056b3;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Adjust as needed */
    margin-bottom: 50px;
}

img {
    margin: 0 50px; /* Adjust margins between images */
    transform: scale(2); 
    background-color: white;
    border: 1px solid black;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }